:host {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px 100px;

  button {
    padding: 10px;
    background: #282828;
    border: 1px solid #373737;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 960px) {
  :host {
    flex-direction: column;
    justify-content: space-between;
  }
}
